body{
margin:0;
font-family:sans-serif;
background:linear-gradient(135deg,#140a2e,#0c2c3d);
color:white;
}

.kyc-container{
display:flex;
height:100vh;
}

.sidebar{
width:250px;
background:rgba(255,255,255,0.05);
padding:30px;
}

.sidebar-item{
padding:12px;
opacity:.5;
}

.sidebar-item.active{
opacity:1;
color:#00ffd0;
}

.kyc-main{
flex:1;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
position:relative;
}

.verify-title{

position:absolute;

top:80px;

font-size:48px;

font-weight:bold;

background:linear-gradient(90deg,#6a5cff,#00d4ff);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

animation:fade 1s;
}

@keyframes fade{
from{opacity:0; transform:translateY(-20px);}
to{opacity:1; transform:translateY(0);}
}

.kyc-card{

width:420px;

background:rgba(255,255,255,0.08);

padding:30px;

border-radius:20px;

}

.input{

width:100%;

padding:12px;

margin:10px 0;

border-radius:10px;

border:none;

color:black;

}

.primary-btn{

width:100%;

padding:12px;

border:none;

border-radius:10px;

background:linear-gradient(90deg,#6a5cff,#00d4ff);

color:white;

}

.progress{

width:420px;

height:6px;

background:#333;

margin-bottom:20px;

}

.progress-fill{

height:100%;

background:linear-gradient(90deg,#6a5cff,#00d4ff);

}

.upload-grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

}

.file-card{

background:rgba(255,255,255,0.05);

padding:20px;

border-radius:10px;

text-align:center;

}

.face-preview,video{

width:200px;

border-radius:10px;

}

.btn-row{

display:flex;

justify-content:space-between;

margin-top:20px;

}

.success{

position:fixed;

top:50%;

left:50%;

transform:translate(-50%,-50%);

background:white;

color:black;

padding:30px;

border-radius:10px;

}
.review-title{
text-align:center;
margin-bottom:20px;
font-size:22px;
}

/* MAIN LAYOUT */
.review-container{

display:flex;
gap:30px;
align-items:flex-start;

}

/* LEFT SIDE */
.review-left{
flex:1;
}

/* RIGHT SIDE */
.review-right{

display:flex;
flex-direction:column;
gap:15px;

}

/* TEXT ROW */
.review-row{

background:rgba(255,255,255,0.05);

padding:12px;

border-radius:10px;

margin-bottom:12px;

}

.review-label{

font-size:12px;
opacity:.7;

}

.review-value{

font-size:16px;
font-weight:500;

}

/* IMAGE CARD */
.review-image-card{

background:rgba(255,255,255,0.05);

padding:10px;

border-radius:10px;

text-align:center;

}

.image-title{

font-size:14px;
margin-bottom:6px;

}

.review-image{

width:140px;
height:100px;

object-fit:cover;

border-radius:8px;

}